absl-py==0.6.1
astor==0.7.1
backcall==0.1.0
beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
cloudconvert==1.0.0
cloudpickle==0.6.1
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
distro==1.3.0
Django==2.1.4
future==0.17.1
gast==0.2.0
grpcio==1.17.1
h5py==2.9.0
html5lib==1.0.1
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Keras==2.0.8
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
networkx==2.2
numpy==1.15.4
pandas==0.23.4
parso==0.3.1
pdfminer.six==20181108
pdftotree==0.4.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
pycryptodome==3.7.2
Pygments==2.3.1
pyparsing==2.3.0
PyPDF2==1.26.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
reportlab==3.5.12
requests==2.21.0
scikit-image==0.14.1
scikit-learn==0.20.2
scipy==1.2.0
selectivesearch==0.4
six==1.12.0
sklearn==0.0
sortedcontainers==2.1.0
tabula-py==1.3.1
tensorboard==1.12.1
tensorflow==1.12.0
termcolor==1.1.0
toolz==0.9.0
traitlets==4.3.2
urllib3==1.24.1
Wand==0.4.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
xhtml2pdf==0.2.3
