{% load static %}
<!DOCTYPE html>

<html>
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
                                                    
        
        <div class="box">
                        {% block content %}
                                <iframe src="" enctype="multipart/form-data" name="frame1" height="712px" width="512px">
                                         
                                </iframe>
                                                        
                                <form method="post" enctype="multipart/form-data" name="frame1">
                                {% csrf_token %}
                                <input type="file" name="myfile">
                                <button type="submit">Upload</button>
                                </form>
                                {% if uploaded_file_url %}
                                        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                                {% endif %}

                        {% endblock %}
                
        </div>
        <div class="box">    
<!--                        <iframe src="" frameborder="2" id="myFrame" scrolling="yes" width="600" height="712" align="left" > 

                        </iframe> 
   -->     </div>         
          
</body>
</html>
