{% load static %}
<!DOCTYPE html>

<html>
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
{% block content %}
                                                    
        
        <div class="box">
                                <iframe src="{{ uploaded_file_url }}" enctype="multipart/form-data" name="frame1" height="712px" width="512px" scrolling="yes">
                                              
                                </iframe>
                                                        
                                <form method="post" enctype="multipart/form-data" name="frame1">
                                {% csrf_token %}
                                <input type="file" name="myfile">
                                <button type="submit" id="mybtn">Upload</button>
                                
                                </form>
                                
                                
                
        </div>
        <div class="box">
                        <iframe src="{{ uploaded_file_url1 }}" enctype="multipart/form-data" name="frame2" height="712px" width="512px" scrolling="yes">
                        </iframe>
                        <a href=""><button type="submit" id="mybtn2">Save As PDF</button></a>        
                                
                        
        </div>         
       
          <script>
                document.getElementById('mybtn').addEventListener('click', function() {
                        var iframeDocument = document.getElementById('frame2').contentDocument;
                        var obj1 = document.getElementById("01");
                 iframeDocument.open();
                 
                 iframeDocument.write(obj1);
                 iframeDocument.close();
                });
        </script>
              
{% endblock %}
          
</body>
</html>
